<%- include('partials/navbar') %>

<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 
  <h1>Contact Us</h1>
  <p>Email: kkoinonos@gmail.com</p>
  <p>Phone: US: (213) 759-9305 SG: 8338-4521</p>
  <a href="/">Home</a>
</body>
</html>


<%- include('partials/footer') %>
